* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* header */

.body_container {
    width: 100%;
    height: 100%;
}

.img_galeria {
    height: 300px;
}

.logo_anton img {
    width: 120px;
    height: 80px;
    margin: 10px;
  
}

.nav_link_container {
    display: flex;
    justify-content: space-around;
    align-items: center;    
    
}

.link {
    width: 160px;
    font-size: 1.8rem;
    margin-top: 50px;
}


/* footer */

footer {
    height: 50px;
    background-color: #dcdcdc;
}


.redes_container {
     display: flex;
     justify-content: space-around;
     align-items: center;
     
}

.redes_container li {
    list-style-type: none;
    
}

.redes_container li a img {
   height: 2rem;
   width: 2rem;
   margin-top: 10px;
   
}


.copy_container {
    text-align: right;
    margin-top: 10px;

}

.copy_container p {
    font-size: 1rem;
    position: relative;
    top: 10px;
    
}

/* mobile footer */

@media screen and (max-width: 375px) {
    .copy_container p {
            display: none;
    }

    .redes_container {
            display: flex;
            justify-content: flex-start;

    }

    .redes_container li a {
            padding-left: 15px;

    }
    
}

/* Pages alquileres */

.main_alquileres_container {
    display: flex;
    justify-content: center;
    align-content: space-around;
    margin: 1rem;

}

.main_alquileres_container_img img {
    margin: 2rem;

}

.alquileres_h2_container {
    display: block;
    text-align: center;
}

.alquileres_h2_container h2 {
    font-size: 1.5rem;
}

.alquileres_p_container {
    display: block;
    width: 35rem;
    text-align: center;
    margin: 1.5rem;

}

.alquileres_p_container p {
    text-align: center;
    margin-left: 50px;
    width: 23rem;
}

.alquileres_cargarMas_container {
    display: block;
    text-align: center;
}

.alquileres_cargarMas_container p {
    font-size: 1.3rem;
    font-weight: bold;
}

/* vista mobile pages alquileres */

@media screen and (max-width: 376px) {
    .main_alquileres_container {
        flex-direction: column;
        
    }

    .alquileres_p_container {
        width: 25rem;
    }

}


/* pages servicios */

